.content1 {
  /* Add any additional styling for the content1 div here if needed */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.label{
  color: black;
}

.label-container{

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 10px; /* Add some spacing between labels and values */
}
.value-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 10px; /* Add some spacing between labels and values */
}

.label,
.value {
  margin-bottom: 10px; /* Add some vertical spacing between labels and values */
}
