
<section class="content">

        <div class="card">
          <div class="header">
            <button  mat-raised-button color="primary"(click)="openSelectSubaccountDialog()">Select Subaccount</button>




          </div>
          <div class="body">
            <h3>Log And Trace Files</h3>





          </div>
        </div>
        <div>
           <h4>Settings</h4>


          <div class="content1">
            <div class="label-container">
                <div class="label">Cloud Connector Loggers:</div>
                <div class="label">Other Loggers:</div>
                <div class="label">CPIC Trace Level:</div>
                <div class="label">Payload Trace:</div>


                <div class="label">SNC Payload Trace:</div>


                <div class="label">SSL Trace:</div>

                  <div class="label">Automatic Cleanup:</div>

                  <div class="label">Location: </div>


            </div>
            <div class="value-container">
                <div class="value">Information</div>
                <div class="value">Information</div>
                <div class="value">0</div>
                <div class="value">No</div>
                <div class="value">No</div>
                <div class="value">No</div>
                <div class="value">Never</div>
                <div class="value">log</div>
            </div>
        </div>





</div>


</section>


