<p>shared works!</p>
<section class="content"  >

<div class="container" >
      <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
        <div class="card">
          <div class="header">
            <p>File Sharing</p>

          </div>
          <div class="body">
            <p><strong>File Sharing Security</strong></p>

          </div>
        </div>
      </div>
      <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
        <div class="card">
          <div class="header">
            <p>HR Records</p>

          </div>
          <div class="body">
            <p><strong>HR profile hide menu</strong></p>

          </div>
        </div>
      </div>



    </div>
    <div class="container">
      <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
        <div class="card">
          <div class="header">
            <p>Mailbox</p>

          </div>
          <div class="body">
            <p><strong>Mailbox verfication id</strong></p>
            <p><strong>Mail box last verfication</strong></p>
            <p><strong>Mailbox product token</strong></p>
            <p><strong>Mailbox enabled </strong></p>
            <p><strong>Mailbox imap server</strong></p>
            <p><strong>Mailbox encryption</strong></p>
            <p><strong>Mailbox folder scan</strong></p>
            <p><strong>Mailbox check every</strong></p>
            <p><strong>Mail only loop on unseen emails</strong></p>

          </div>

        </div>
      </div>

      <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
        <div class="row">
          <div class="card" style="height: 425px;"> <!-- Adjust the height as needed -->
            <div class="header">
              <p>Marketing Automations</p>
            </div>
            <div class="body">
              <p><strong>Ma insert email template default</strong></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
        <div class="card">
          <div class="header">
            <p>Office Flat Pro Team</p>

          </div>
          <div class="body">
            <p><strong>Perfex office theme customers</strong></p>

          </div>
        </div>
      </div>
      <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
        <div class="card">
          <div class="header">
            <p>Purchase</p>

          </div>
          <div class="body">
            <p><strong>Purchase Key
            </strong></p>

          </div>
        </div>
      </div>
    </div>

<div class="container">
      <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
        <div class="card"  style="height: 200px;">
          <div class="header">
            <p>Recuritment</p>

          </div>
          <div class="body">
            <p><strong>Recuriment create campaign with plan</strong></p>

          </div>
        </div>
      </div>
      <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
        <div class="card">
          <div class="header">
            <p>Theme Style</p>

          </div>
          <div class="body">
            <p><strong>Theme style custom admin area
            </strong></p>
            <p><strong>Theme style custom admin area
            </strong></p>
            <p><strong>Theme style custom admin area
            </strong></p>

          </div>
        </div>
      </div>
    </div>
</section>




