
 <section>
  <div class="row clearfix">
<div class="container">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="card">
      <div class="header">
        <h2><strong>High Availability</strong></h2>
        <div>
        <button class="button"   mat-raised-button color="primary">Enable</button>
        <button class="button"   mat-raised-button >Reset</button>
        <button class="button"   mat-raised-button >Become Shadow</button>

        </div>






      </div>
      <div class="body">
        <p>Risk</p>

      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="card">
      <div class="header">
        <p>Connection To Shadow</p>



      </div>
      <div class="body">

          <p>Shadow Host:</p>
          <p>Shadow Port:</p>
          <p>Most Recent Check:</p>


      </div>
    </div>
  </div>




</div>

  </div>
</section>
