<p>payment-settings works!</p>
<section class="content">
  <div class="content-block">

    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="header">
            <h2><strong>All Paymemt Method</strong></h2>




          </div>
          <div class="body">
            <div class="payment-container" >
              <h1>Payment</h1>
              <div class="payment-options">
                  <div class="payment-option">
                      <img src="https://tse2.mm.bing.net/th?id=OIP.dMFTN_nJ840xhgheQOQOrgHaFK&pid=Api&P=0&h=180" alt="Debit Card">
                      <span>Debit Card</span>
                  </div>
                  <div class="payment-option">
                      <img src="https://tse1.mm.bing.net/th?id=OIP.wVCCwbT5dbg7i2RiXkQDlwHaFe&pid=Api&P=0&h=180" alt="Credit Card">
                      <span>Credit Card</span>
                  </div>
                  <div class="payment-option">
                      <img src="https://tse1.mm.bing.net/th?id=OIP.sUQeCV33SZ7IAdJVqqj15gHaE8&pid=Api&P=0&h=180" alt="PhonePe">
                      <span>PhonePe</span>
                  </div>
                  <div class="payment-option">
                    <img src="https://tse1.mm.bing.net/th?id=OIP.T-9Xq1enHcOF9jAueRwcgQHaEK&pid=Api&P=0&h=180" alt="Google Pay">
                    <span>Google Pay</span>
                </div>
                <div class="payment-option">
                  <img src="https://tse1.mm.bing.net/th?id=OIP._YgtL4UX1xhQQzNYiRGvCAHaEr&pid=Api&P=0&h=180" alt="Paytm">

                    <span>Paytm</span>
                </div>
            </div>
        </div>


            </div>



          </div>
        </div>
      </div>
    </div>

</section>

