

  <div class="content-block">

    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="header">
            <h3>Select Subaccount</h3>




          </div>
          <div class="body">
           <input type="text" placeholder="Search">






          </div>
          <div class="footer">
            <button mat-button color="primary" (click)="closeDialog()">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>



