<section class="content">
  <div class="content-block">

    </div>
    <div class="row clearfix">
      <div class="col-xs-8 col-sm-8 col-md-12 col-lg-8">
        <div class="card">
          <div class="header">
            <h2><strong>Add User</strong></h2>


            <button mat-raised-button color="primary" routerLink="/Users/user-list">Back</button>

          </div>
          <div class="body">

            <label>Name</label>
            <input type="text" class="wider-input">
            <label >Email</label>
            <input type="text" class="wider-input">
            <label>password</label>
            <input type="password" class="wider-input">
            <label >Phone</label>
            <input type="tel" class="wider-input">
            <label>Desgination</label>
            <input type="text" class="wider-input">
            <label >Address</label>
            <textarea id="address" name="address" rows="6"></textarea>
            <label >Role</label>
            <select id="role" name="role" class="wider-input">
              <option value="user">User</option>
              <option value="admin">Admin</option>
            </select>
            <div class="button">
              <button mat-raised-button color="primary" >Save</button>
            </div>





          </div>
        </div>
      </div>
    </div>

</section>
