<!--
<section class="content">
  <div class="content-block">

    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="header">




            <button mat-raised-button color="primary" routerLink="/Company/add-company">Add New Company</button>


          </div>
          <div class="body">
            <div class="container1">
              <div>
                <label for="customerName">Customer Name:</label>
                <input type="text" id="customerName" [(ngModel)]="customerName">
              </div>
              <div>
                <label for="customerMail">Customer Mail:</label>
                <input type="email" id="customerMail" [(ngModel)]="customerMail">
              </div>
              <div>
                <label for="customerPhone">Customer Phone:</label>
                <input type="tel" id="customerPhone" [(ngModel)]="customerPhone">
              </div>
              <div>
                <label for="subscription">Subscription:</label>
                <input type="text" id="subscription" [(ngModel)]="subscription">
              </div>
              <button (click)="generatePDF()">Generate PDF</button>



            </div>



          </div>
        </div>
      </div>
    </div>
  </div>
</section>
 -->
