.header{
  display: flex;
  justify-content: space-between;

}
.container{
  margin-top: 50px;
}
.button{
  padding: 10px;
  margin: 5px;
}
.body1{
  display: flex;
  justify-content: space-around;

}
