<!--

<section>
  <div class="row clearfix">
<div class="container">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="card">
      <div class="header">
        <h2>SACAgentKit</h2>
        <div>
        <button class="button"  mat-raised-button color="primary">Disconnect</button>
        <button class="button" mat-raised-button >Import</button>
        <button class="button"  mat-raised-button >Export</button>
        <button class="button"  mat-raised-button >Certificate</button>
        <button class="button"  mat-raised-button >Add Subaccount</button>

        </div>




      </div>
      <div class="body">
        <p>Operational since 2023-08-29 8:00:00</p>

      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="card">
      <div class="header">
        <p>Subaccount overview</p>


      </div>
      <div class="body1">
        <div>
        <p>Region:</p>
        <p>Region host:</p>
        <p>HTTPS Proxy:</p>
        <p>Subaccount Certificate:</p>
        <p>System Certificate:</p>
      </div>
<div>
        <p>Subaccount:</p>
        <p>Display Name:</p>
        <p>Initiated By:</p>
        <p>Location Id:</p>
        <p>Description:</p>


      </div>



      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="card">
      <div class="header">
        <p>Disaster Recovery Subaccount</p>



      </div>
      <div class="body1">

        <div>
          <p>Status:</p>

          <p>Subaccount Certificate:</p>
        </div>
  <div>

          <p>Region Host:</p>
          <p>Subaccount User:</p>


        </div>




      </div>
    </div>
  </div>




</div>
  </div>
</section> -->

<section class="content">
  <div class="content-block">

    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="header">
            <h2>Subaccount</h2>


            <button mat-raised-button color="primary">Add Subaccount</button>

          </div>
          <div class="body">




          </div>
        </div>
      </div>
    </div>
  </div>
</section>


