
<section class="content">
  <div class="content-block">

    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="header">
            <h2>Configuration</h2>



          </div>
          <div class="body">
            <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
              <mat-tab label="USER INTERFACE">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <div class="card">
                    <div class="header">
                      <p>User Administrator</p>



                    </div>
                    <div class="body">

                        <p>User Store:</p>
                        <p>User Name:</p>












                    </div>
                  </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <div class="card">
                    <div class="header">
                      <p>Authentication</p>







                    </div>
                    <div class="body">

                        <p>Authentication Mode:</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="card">
                      <div class="header">
                        <p>UI Certificate</p>







                      </div>
                      <div class="body">

                          <p>Subject DN:</p>
                          <p>Issuer:</p>
                          <p>Valid From:</p>
                          <p>Valid To:</p>
                        </div>
                      </div>
                    </div>
















              </mat-tab>
              <mat-tab label="CLOUD">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <div class="card">
                    <div class="header">
                      <p>Connector Info</p>



                    </div>
                    <div class="body">

                        <p>Description:</p>

                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <div class="card">
                    <div class="header">
                      <p>HTTPS Poxy</p>



                    </div>
                    <div class="body">

                      <p>Host:</p>
                      <p>Port:</p>
                      <p>User:</p>
                      <p>Password:</p>

                    </div>
                  </div>
                </div>



















              </mat-tab>
              <mat-tab label="ON PREMISE">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <div class="card">
                    <div class="header">
                      <p>System Certificate</p>



                    </div>
                    <div class="body">

                        <p>Subject DN:</p>
                        <p>Issuer:</p>
                        <p>Valid From:</p>
                        <p>Valid To:</p>











                    </div>
                  </div>
                </div>






              </mat-tab>
              <mat-tab label="REPORTING">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <div class="card">
                    <div class="header">
                      <p>Solution Management</p>



                    </div>
                    <div class="body">

                        <p>Status:</p>
                        <p>Host Agent Executable
                          :</p>
                        <p>Write DSR To File:</p>








                    </div>
                  </div>
                </div>



              </mat-tab>
              <mat-tab label="ADVANCED">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <div class="card">
                    <div class="header">
                      <p>Connectivity</p>



                    </div>
                    <div class="body">

                        <p>Application Tunnel Connection:</p>
                        <p>Tunnel Worker Threads:</p>
                        <p>Protocol Processor Worker Threads:</p>
                        <p>Max. Reconnect Attempts:</p>





                        <p>Max. Chunk Size HTTP Packages (kb):</p>

                        <p>Max. HTTP Request Header Length (kb):</p>
                        <p>Max. Size HTTP Request (kb):</p>
                        <p>Max. HTTP Response Header Length (kb):</p>
                        <p>Max. Size HTTP Response (kb):</p>


                    </div>
                  </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <div class="card">
                    <div class="header">
                      <p>JVM</p>



                    </div>
                    <div class="body">

                        <p>Initial Heap Size:</p>
                        <p>Maximal Heap Size:</p>
                        <p>Maximal Direct Memory:</p>








                    </div>
                  </div>
                </div>


















              </mat-tab>
            </mat-tab-group>






          </div>
        </div>
      </div>
    </div>
  </div>
</section>


