
<section class="content">
  <div class="content-block">

    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="header">



            <button mat-raised-button color="primary" (click)="openSelectSubaccountDialog()">Select Subaccount</button>

          </div>
          <div class="body">
            <h2>Audits</h2>





          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <h3>Settings</h3>
  </div>

</section>


