

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="header">
            <h3>Add Subaccount</h3>





          </div>
          <div class="body">
            <label>Subaccount:<span>*</span><input type="text"></label>
            <label>Display Name:<input type="text"></label>
            <label>Subaccount User:<span>*</span><input type="text"></label>
            <label>Password:<span>*</span><input type="text"></label>
            <label>Location ID:<input type="text" placeholder="Enter location ID to overwrite default"></label>
            <label>Description:<input type="text" class="decription"></label>
            <div class="button">
              <button mat-raised-button color="primary" >Save</button>
              <button mat-button color="primary" (click)="closeDialog()">Cancel</button>
            </div>









          </div>
        </div>
      </div>


