

<section class="content">

  <div class="content-block">


    <div class="row clearfix">

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="header">




          </div>
          <div class="body">
            <div>
              <button  mat-raised-button color="primary" (click)="openSelectSubaccountDialog()">Select Subaccount</button>
              <h2>Monitor (Cloud to On-Premise)</h2>
              <p>Cloud Connector has been gathering performance statistics since 2023-09-13 04:31:10 -0700    </p>






            </div>
            <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">

              <mat-tab label="PERFORMANCE">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <div class="card">
                    <div class="header">




                    </div>
                    <div class="body">


                        </div>
                      </div>
                    </div>
















              </mat-tab>
              <mat-tab label="MOST RECENT REQUESTS">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <div class="card">
                    <div class="header">



                    </div>
                    <div class="body">





                    </div>
                  </div>
                </div>



















              </mat-tab>
              <mat-tab label="TOP TIME CONSUMERS">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <div class="card">
                    <div class="header">



                    </div>
                    <div class="body">




                    </div>
                  </div>
                </div>






              </mat-tab>
              <mat-tab label="BACK_END CONNECTIONS">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <div class="card">
                    <div class="header">



                    </div>
                    <div class="body">




                    </div>
                  </div>
                </div>






              </mat-tab>
              <mat-tab label="USAGE STATISTICS">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <div class="card">
                    <div class="header">



                    </div>
                    <div class="body">




                    </div>
                  </div>
                </div>






              </mat-tab>


            </mat-tab-group>






          </div>
        </div>
      </div>
    </div>
  </div>
</section>



